.mainBlogContainer {
  position: relative;
  top: 70px;
  z-index: -1;
}

/* .testscroll {
  width:200px;
  height: 400px;
  border:1px solid red;
  overflow-y: scroll;
  scrollbar-color: red yellow;
} */