.Outer {
  position: relative;
  top: 70px;
  display: grid;
  border: 1px solid blue;
  padding: 2PX;
}

.grid2 {
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.grid2 > div {
  border: 1px solid red;
}