.homeContainer {
  position: relative;
  top: 70px;
}

.recordVid {
  width: 100%;
  opacity: 0;
  transition: opacity 1.7s;
}

.videoContainer {
  width: 100%;
  position: relative;
  z-index: -1;
  /* background-color: #312d33; */
  max-height: 85vh;
  overflow: hidden;
}

.mainContainer {
  width: 100%;
  transform: translateY(-4px);
  background-color: white;
  opacity: 0;
  transition: opacity 1.7s;  
  position: relative;
  z-index: -1;

}

.servicesContainer {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutMeContainer {
  width: 100%;
  height: 500px;
  background-color: #d8cce0;
}

.contactContainer {
  width: 100%;
  height: 500px;
  background-color: #452454;
}

.servicesContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ds {
  height: 300px;
  margin-left: 10px;
}

.servicesText {
  margin-right: 10px;
}

.greeting {
  color: lightcyan;
  font-size: 2vw;
  text-align: center;
  font-family: Righteous, Roboto;
  position: absolute;
  top: 25%;
  left: 65vw;
  opacity: 0;
  transition: opacity 1.7s;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #312d33;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: Righteous, Roboto;
  color: lightcyan;
}

@media (min-width: 1400px) {
  .videoContainer{
    transform: translateY(-35px);
  }
}

@media (min-width: 1500px) {
  .videoContainer{
    transform: translateY(-70px);
  }
}

/* @media (min-width: 1600px) {
  .videoContainer{
    transform: translateY(-70px);
  }
} */

@media (min-width: 2000px) {
  .videoContainer{
    transform: translateY(-75px);
  }
}