.Header {
  display: grid;
  grid-template-areas: "logo burger" "nav nav";
  height: 70px;
  background-color: #312d33;
  color: #966dab;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout:none;
  font-family: 'Righteous', Roboto;
  font-size: 40px;
}

.Logo {
  grid-area: logo;
  font-size: 30px;
  text-decoration: none;
  color: lightcyan;
  margin-left: 3vw;
  height: 70px;
  display: flex;
  align-items: center;
}

.BurgerIcon {
  height: 70px;
}

.Burger {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2vw;
  color: lightcyan;
}

.burgerOpen {
  color: #966dab;
}

.NavLink {
  text-decoration: none;
  color: #966dab;
}

.NavLink:hover {
  color: lightcyan;
}

.Nav {
  grid-area: nav;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 20px;
  background-color: black;
  justify-items: center;
  opacity: 0.95;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0px 0px 5px 5px ;
  font-size: 21px;
  padding: 10px;
  align-items: center;
  transition: transform 1s;
}

/* .NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}

.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}

.NavAnimation-exit {
  opacity: 1;
}

.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
} */

@media (min-width: 800px) {

  .Header {
    grid-template-areas: "logo . nav";
  }  

  .Burger {
    display: none;
  }
  
  .Nav {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: none;
    font-size: 16px;
    justify-items: stretch;
    background-color: #312d33;
  }
  
}